* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html {
  font-size: 62.5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-size: 1.6rem;
  min-width: 320px;
  min-height: 100vh;
}
